/* Estilos para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
  }
  
  /* Estilos para el encabezado */
  #indice {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  #indice h1, #indice h2 {
    margin: 0;
  }
  
  #indice ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }
  
  #indice li {
    margin: 5px 0;
  }
  
  #indice li a {
    color: #333;
    text-decoration: none;
  }
  
  #indice li a:hover {
    color: #000;
  }
  
  /* Estilos para los títulos */
  h1, h2, h3 {
    color: #333;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
  }
  
  /* Estilos para los párrafos */
  p {
    margin: 0;
    padding: 0 0 20px 0;
  }
  
  /* Estilos para los enlaces */
  a {
    color: #0072C6;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

/* Estilo para todas las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }

  /* Estilo de negritas para el titulo de la tabla */
  caption {
    font-weight: bold;
  }
  
  /* Estilo para las celdas de la tabla */
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilo para la fila de encabezado de la tabla */
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Estilo para la fila de la tabla al pasar el mouse sobre ella */
  tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilo para la primera columna de la tabla */
  td:first-child {
    font-weight: bold;
  }
  
  /* Estilo para la tabla de sistemas de unidades */
  #SI table {
    background-color: #f9f9f9;
  }
  
  /* Estilo para la tabla de sistema ingles */
  #sistema_ingles table {
    background-color: #e0e0e0;
  }
  
  .table-container {
    overflow-x: auto;
    max-width: 100%;
  }
  
  .table-container table {
    width: 100%;
    table-layout: auto;
  }
  
  .table-container::-webkit-scrollbar {
    height: 12px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }  

  #conversor-de-notacion {
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  td {
    padding: 10px;
  }
  
  input[type="number"] {
    width: 95%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Ocultar flechas de incremento y decremento en campos de entrada numérica */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  span {
    font-weight: bold;
  }
  
  td:last-child {
    text-align: center;
  }

  @media only screen and (max-width: 500px) {
    /* Estilos específicos para dispositivos móviles */
  
    /* Ajustes de la tabla */
    #tableresponsive-table {
      width: 100%;
      overflow-x: auto;
    }

    body {
      display: flexbox;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .responsive-table {
      width: 80%;
      margin: 0 auto;
      font-size: 14px;
      font-family: Arial, sans-serif;
    }

    .responsive-table .table-container {
      overflow-x: auto;
      padding-bottom: 16px; /* Ajusta el espacio inferior según tu preferencia */
    }
    
    .responsive-table .responsive-table{
      transform: scale(0.8); /* Ajusta la escala según tu preferencia */
      transform-origin: top; /* Ajusta el origen de la transformación según tu preferencia */
    }

  }